<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">עריכה</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">שם</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <div class="col">
            <div class="mb-3">
                <label class="form-label" for="contact-name">איש קשר</label>
                <input class="form-control" type="text" id="contact-name" name="contact[name]" value="<%=campground.contact.name %>">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="phone">טלפון</label>
                <input class="form-control" type="tel" id="phone" name="contact[phone]"   value="<%=campground.contact.phone %>">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>
            <div class="mb-3">
                <label class="form-label" for="location">מיקום</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

           
            <div class="mb-3">
                <label class="form-label" for="description">תיאור</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label"></span>
                        <span class="form-file-button"></span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">מחיקה?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">עידכון</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id%>">חזרה</a>

    </div>
</div>